* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.dash-icon {
    position: absolute;
    left: 20px;
}

.sideBar-link {
    color: white;
    text-decoration: none;
    cursor: pointer;


}

.sideBar-link:hover {
    color: gold;
}

.container-sidebar {

    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 240);
    width: 350vh;
    /* height: 1vh; */
}

.sidebar-content {

    background-color: rgb(89, 86, 233);
    width: 20em;
    color: white;
    position: fixed;
    z-index: 1000;
}
.sidebar-content h1 {
    font-size: 30px;
    margin-left: 20px;
}


.search-container {
    width: 18em;

    border-radius: 20px;
    margin-left: 35em;
    border-color: rgb(89, 86, 233);
    ;

}

.sideContainer ul {
    margin-left: 20px;
    list-style-type: none;
    padding-top: 18px;
    margin-top: -20px;
}

.sideContainer ul li {
    padding: 9.2px;
    margin-left: 20px;
    font-size: 14px;
}




.realContent-Sidebar p {
    color: black;
    position: absolute;
    left: 30em;
    top: 1em;


}



.input-dashboard {
    margin-left: 22em;
    padding-top: 20px;

}

.input-dashboard-p {
    font-size: 11px;
    color: rgb(89, 86, 233);
}

.input-dashboard-p-one {
    font-size: 25px;

}

.admin-position {
    margin-left: 30px;
  

}

.admin {
    display: flex;
    margin-top: 18px;
   width: 15em;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: rgb(89, 86, 233);
    border-radius: 20px;
}

.theme-toggle{
    background-color: rgb(255, 255, 255);
   color: rgb(89, 86, 233) ;
   left: 15em;
   margin-top: 10px;
   margin-left: 20px;
   position: absolute;
   border-radius: 50%;
}



body.dark-theme  {
    background: black;
    color: rgb(207, 207, 207);
}
body.light-theme{
    background: rgb(255, 255, 255);
}
body.dark-theme .container-sidebar{
    background: black;
    color: rgb(207, 207, 207);
}

body.dark-theme .sidebar-content{
    background: rgb(39, 38, 38);
    color: rgb(207, 207, 207);
}
body.dark-theme .sidebar-array{
    background:  rgb(39, 38, 38);
    color: rgb(207, 207, 207);
}

body.dark-theme .sidebar-arrays{
    background:  rgb(39, 38, 38);
    color: rgb(207, 207, 207);
}


body.dark-theme .audience{
    background:  rgb(39, 38, 38);
    color: rgb(207, 207, 207);
}

body.dark-theme .active-users{
    background:  rgb(39, 38, 38);
    color: rgb(207, 207, 207);
}

body.dark-theme .session{
    background:  rgb(39, 38, 38);
    color: rgb(207, 207, 207);
}

body.dark-theme .welcome{
    
    color: rgb(207, 207, 207);
}

body.dark-theme .audience  input{
    background:  rgb(15, 15, 15);
    color: rgb(207, 207, 207);
}


body.dark-theme .products-content{
    background:  rgb(15, 15, 15);
    color: rgb(207, 207, 207);
}

body.dark-theme .table-container{
    background-color: black;
    color: gray;
 }

 
 body.dark-theme .admin{
    background:  rgb(15, 15, 15);
    color: rgb(207, 207, 207);
}

body.dark-theme .theme-toggle{
    background:  rgb(15, 15, 15);
    color: rgb(207, 207, 207);
}


.dark-theme tbody tr:nth-child(even) {
    background-color: #333;
}


.dark-theme tbody  th{
    background-color: #333;
}




body.dark-theme .top h3{
   
    color: rgb(207, 207, 207);
}


body.dark-theme .add-vendor{
    background:  #333;
    color: rgb(207, 207, 207);
}

body.dark-theme .add-vendor:hover{
    background: rgb(207, 207, 207);
    color:  #333;
}

body.dark-theme .topTittles{
  
    color: rgb(207, 207, 207);
}

body.dark-theme .listVendors-box{
    background:  #333;
    color: rgb(207, 207, 207);
}

body.dark-theme .listVendors-input{
    background:  #333;
    color: rgb(207, 207, 207);
}





body.dark-theme  {
    background: black;
    color: rgb(207, 207, 207);
}
body.light-theme{
    background: rgb(255, 255, 255);
}
body.dark-theme .side {
    background: black;
    color: rgb(207, 207, 207);
}