.Login{
 height: 71vh;
background-color: white;

color: black;
display: block;
padding-left: 30em;
padding-top: 10em;
border:none;


}

.box{
margin-bottom: 10px;
}

.box input{
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(239, 230, 230);
    border: none;
}

button{
    width: 15%;
  padding: 10px;
  background-color: rgb(48, 79, 203);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;             /* Use flexbox */
  justify-content: center;   /* Horizontally center text */
  align-items: center;       /* Vertically center text */
  text-align: center;  
}

button:hover{
    background-color: black;
    color: white;
}


h2{
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: 10px;
}