*{
    margin: 0;
    padding: 0;
   
}



.custom-link{
    color: white;
    text-decoration: none;
    font-family: 'poppins';
}

.custom-button{
    width: auto;                   /* Allow width to adjust based on content */
    padding: 13px 20px;             /* Add padding (top/bottom, left/right) */
    background-color: white;
    color: #010101;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;            /* Use flexbox */
    justify-content: center;        /* Horizontally center text */
    align-items: center;            /* Vertically center text */
    text-align: center;             /* Ensure text is centered */
    margin-left: 13em;              /* Adjust this if you need to move the button */
   text-decoration: none;
  }

.custom-button:hover{
    background-color: rgb(48, 79, 203);
    color: #fff;
}

.container{
    background-color: #fff;
    height: auto;  
    width:auto; 
}


.tittle h1{
    color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'poppins';
    margin-left: 1.5em;
    margin-top: 20px;
    font-size: 25px;
    font-weight:400;
    padding: 2px;
}



.input,real-input{
    display: flex;

    padding: 10px;
    margin-left: 30em;
   
}

.real-input{
    margin-left: 20px;
}



.trends li{

    display: flex;
    margin-left: 5em;
    padding: 3px;
font-size: 15px;
}

.trends{
    display: flex;
    margin-top: 4em;
    background-color: rgb(48, 79, 203);  
    color: #fff;
    padding:20px 20px;
    gap: 5px;
    border: none;

   
}

#myDropdown-two{
    
 background-color: rgb(48, 79, 203); 
 color: #fff; 
 border: none;
 
 
}


