.shop-shop{
    height: 550vh;
     background-color: #fff;
     color: black;
     font-family: 'overlock',sans-serif;
    
    
   
 }
 
 .shop-shop-list{
     margin-left: 5em;
     font-family: 'poppins';
     
 }
 .shop-shop-list ul{
     list-style: none;
    
 }
 
 .shop-shop-list ul li{
     padding: 2px;
     font-size: 15px;
 
 }
 
 .shop-part
 {
     margin-left: 27em;
     margin-top: -13em;
     padding: 3px;
    
 }
 
 .shop-part h2{
  font-size: 33px;
  margin-top: 20px;
 }
 
 .shop-part button{
 
     margin-top: 18px;
     border: none;
     padding: 18px;
     border-radius: 10px;
     height: 2.5rem;
     width: 8rem;
     text-align: center;
     background-color: grey;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     font-family: 'Robot',sans-serif;
     cursor: pointer;
   display: flex;             /* Use flexbox */
   justify-content: center;   /* Horizontally center text */
   align-items: center;       /* Vertically center text */
   text-align: center; 
   overflow: hidden;
 }
 
 .categories{
     margin-top: 5em;
     margin-left: -22.5em;
     margin-bottom: 20px;
 }

.categories h1{
    color: red;
}

 
 .popular-images{
 width: 22em;
 height: 13em;
 display: inline-block;
 flex-direction: row;

 padding: 10px;
 text-align: center;
 }
 
 .image-image-shop{
     width: 180px;
     height: 140px;
     cursor: pointer;
 }
 
 .arrivals{
     margin-left: 4.9em;
     margin-top: 2em;
 
     
 }
 
 
 
 .arrivals-images{
     width: 14em;
 height: 31em;
 display: inline-block;
 flex-direction: row;

 padding: 10px;
 text-align: left;
 margin-right: 10rem;
 
 cursor: pointer;
 
 }
 
 .image-image-arrivals{
     width: 230px;
     height: 300px;
     margin-bottom: 1em;
     object-fit: contain;
     
     
 }
 
 .arrivals-color{
     width: 30px;
     height: 30px;
     border-radius: 50%; 
     border: 1px solid rgb(99, 95, 95); /* Makes the div circular */
     display: inline-flex;
     margin-top: 1em;
     margin-right: 5px;
 }
 
 .item-price{
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
 .arrivals-button{
     border: none;
     padding: 18px;
     border-radius: 10px;
     height: 2.5rem;
     width: 10rem;
     overflow: hidden;
     text-align: center;
     background-color: grey;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     font-family: 'Robot',sans-serif;
     margin-left: 35rem;
     margin-top: 10px;
 }
 
 
 .vendors-shop{
 
     margin-top: 5rem;
     margin-bottom: 3rem;
     margin-left: 2rem;
 
 
 }
 .vendors-shop h1{
    
     margin-left: 5rem;
 }
 
 .vendors-images{
     width: 24em;
     height: 140px;
     display: inline-block;
     
     flex-direction: row;
     
 padding-bottom: 5rem;
     text-align: center;
     margin-bottom: 50px;
     
 
 }
 
 .image-image-vendors{
     width: 370px;
     height: 170px;
     cursor: pointer;
     margin-bottom: 2em;
     
 }
 
 
 .item-words{ 
 
     font-size: 20px;
         margin-bottom: 1px;
     
        
     
     }
 
 .vendors-button{
     border: none;
     padding: 18px;
     border-radius: 10px;
     height: 3.5rem;
     width: 11rem;
     text-align: center;
     background-color: grey;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     font-family: 'Robot',sans-serif;
     margin-left: 35rem;
     margin-top: 10px;
 }
 
 .vendors-others{
   text-align: left;
   margin-left: 1.6rem;
   font: 24px Overlock,display;
   font-weight: 600;
   margin-top: 1.6rem;
   width: 4rem;
   display: flex;
  
 
 
 }
 
 .item-words{
     width: 4rem;
 
 }
 
 .item-arrow{
     margin-left: 40px;
 }
 .item-address{
     margin-left: -15em;
     margin-top: 10px;
 
 }
 /*//////////////*/
 
 .why-shop{
 
     margin-top: 5rem;
     margin-bottom: 3rem;
     margin-left: 2rem;
 
 
 
 }
 .why-shop h1{
    
     margin-left: 5rem;
 }
 
 .why-images{
     width: 24em;
     height: 140px;
     display: inline-block;
     
     flex-direction: row;
     
 padding-bottom: 5rem;
     text-align: center;
     margin-bottom: 50px;
     
 
 }
 
 .image-image-why{
     margin-top: 10px;
     width: 70px;
     height: 70px;
     margin-bottom: 2em;
     
 }
 
 .why-others{
     text-align: left;
     width: 20rem;
     
 }
 .item-words-why{
     font-size: 29px;
     margin-bottom: 20px;
     font-weight: bold;
     
 }
 
 .why-shop h1{
     font-size: 35px;
     margin-left: -0.5rem;
 }