.holder{
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.card-container{
    display: flex;
    flex-direction: column;
  
    width: 12rem;


}


.card-image{
    width: 12rem;
    height: 5rem;
}


.text-1{
    font-size: 0.9rem;
}

.text-1{
    padding-top: 0.5rem;
    font-size: 0.9rem;
}