*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

:root{
  --body_background: white;
  --body_color:black;
  --link_color:navy;
}

[data-theme="dark"]{
  --body_background:#282c34;
  --body_color:white;
  --link_color:cyan;
}


body.dark-mode {
  background-color: #121212;
  color: white;
}

body {
  transition: background-color 0.3s, color 0.3s;
}